td,th,table{
border-collapse: collapse;
}
.container{
text-align: center;
}
td{
height: 50px;
width: 50px;
text-align: center;
border: 1px solid black;
}
.line{
padding-bottom: 0;
margin:0;
}
.title{
text-align: center;
padding: 20px 0px; 
}
#tictac_table{
    margin: auto;
}
button{
    margin-top: 5%;
}